.product-container {

  width: 100%;

  display: flex;

  justify-content: center;

  padding: 60px 20px;

}

.product-card {

  width: 500px;

  background: white;

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  text-align: center;

}

.product-card h2 {

  color: #ff7a00;

  margin-bottom: 20px;

}

.descripcion {

  color: #555;

  font-size: 16px;

  margin-bottom: 25px;

}

.precio {

  font-size: 26px;

  font-weight: bold;

  color: #ff7a00;

  margin-bottom: 30px;

}

.btn-pedir {

  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background: linear-gradient(135deg,#ffb347,#ff7a18);

  color: white;

  font-size: 18px;

  cursor: pointer;

  transition: 0.2s;

}

.btn-pedir:hover {

  transform: translateY(-2px);

  box-shadow: 0 6px 15px rgba(255,122,24,0.4);

}
