<div class="carrito-container">

  <h2>Tu carrito</h2>

  <div *ngIf="carrito?.items?.length === 0">
    Tu carrito está vacío
  </div>

  <div *ngFor="let item of carrito?.items" class="item">

    <h3>{{item.nombreProducto}}</h3>

    <p>Precio: {{item.precio}}</p>

    <p>Cantidad: {{item.cantidad}}</p>

    <button (click)="eliminar(item.productoId)">
      Eliminar
    </button>

  </div>

  <div *ngIf="carrito">

    <div *ngFor="let item of carrito.items">
      {{item.nombreProducto}} - {{item.cantidad}}
    </div>

    <h3>Total: {{carrito.total}}</h3>

  </div>

  <button class="btn-pedir" (click)="pedirProducto()">
    Pedir
  </button>

  <button class="btn-vaciar" (click)="vaciar()">
    Vaciar carrito
  </button>

</div>
