

<div class="filtros">

  <label>Precio mínimo</label>
  <input
    type="number"
    [(ngModel)]="precioMin"
    (input)="filtrarProductos()"
  >

  <label>Precio máximo</label>
  <input
    type="number"
    [(ngModel)]="precioMax"
    (input)="filtrarProductos()"
  >

  <button class="btn-limpiar" (click)="limpiarFiltros()">
    Limpiar filtros
  </button>


</div>

<div class="grid-productos">

  <app-product-card
    *ngFor="let producto of productosFiltrados"
    [producto]="producto">
  </app-product-card>

</div>

<div *ngIf="loading">
  Cargando productos...
</div>
