<header class="navbar">

  <div class="logo">
    Renne Chardon
  </div>

  <div class="buttons">

    <!-- Usuario NO logueado -->
    <ng-container *ngIf="!(authService.loggedIn$ | async)">

      <button class="login-btn" (click)="goToLogin()">
        Iniciar sesión
      </button>

      <button class="register-btn" (click)="goToRegister()">
        Registrarse
      </button>

    </ng-container>


    <!-- Usuario logueado -->
    <ng-container *ngIf="authService.loggedIn$ | async">

      <button routerLink="/carrito">
        🛒 Carrito
      </button>

      <button [routerLink]="['/ProfileData']">
        Mi perfil
      </button>


      <button (click)="router.navigate(['/Home'])">
        Inicio
      </button>



      <button (click)="logout()">
        Cerrar sesión
      </button>

    </ng-container>

  </div>

</header>
