<div class="logistica-container">

  <div class="logistica-card">

    <h2 class="title">Panel de Logística</h2>

    <!-- TABLA -->
    <table *ngIf="pedidos.length > 0">

      <thead>
      <tr>
        <th>ID</th>
        <th>Estado</th>
        <th>Guía</th>
        <th>Acciones</th>
      </tr>
      </thead>

      <tbody>

      <tr *ngFor="let p of pedidos">

        <td>#{{ p.id }}</td>

        <td>
            <span class="estado" [ngClass]="p.estado.toLowerCase()">
              {{ p.estado }}
            </span>
        </td>

        <td>
          {{ p.numeroGuia || '—' }}
        </td>

        <td class="acciones">

          <!-- 👷 JEFE DE BODEGA -->
          <ng-container *ngIf="rol === 'JEFE_BODEGA'">

            <button
              class="btn guia"
              *ngIf="p.estado === 'CREADO'"
              (click)="generarGuia(p.id)">
              Generar guía
            </button>

            <button
              class="btn empacar"
              *ngIf="p.estado === 'GUIA_GENERADA'"
              (click)="cambiarEstado(p.id, 'EMPACADO')">
              Empacar
            </button>

            <button
              class="btn enviar"
              *ngIf="p.estado === 'EMPACADO'"
              (click)="cambiarEstado(p.id, 'ENVIADO')">
              Enviar
            </button>

          </ng-container>


          <ng-container *ngIf="rol === 'DOMICILIARIO'">

            <button
              class="btn entregar"
              *ngIf="p.estado === 'ENVIADO'"
              (click)="cambiarEstado(p.id, 'ENTREGADO')">
              Entregado
            </button>

            <button
              class="btn novedad"
              *ngIf="p.estado === 'ENVIADO'"
              (click)="abrirNovedad(p.id)">
              Novedad
            </button>

          </ng-container>

        </td>

      </tr>

      </tbody>
    </table>


    <!-- VACÍO -->
    <div class="empty" *ngIf="pedidos.length === 0">
      No hay pedidos disponibles
    </div>

  </div>
</div>
